<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Error1</title>
    <style>
		.container input[type="button"] {
      width: 96%;
      padding: 20px;
      background-color: #1E90FF;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    .container input[type="button"]:hover {
      background-color: #45a049;
    }
	</style>	
    
  </head>
  <body>
    <table cellspacing="2" cellpadding="2" border="0" width="1900"
      height="550">
      <tbody>
        <tr>
          <td valign="top"><br>
            <br>
            <br>
          </td>
        </tr>
        <tr>
          <td valign="top"><br>
            <br>
            <br>
            <div align="center"><img moz-do-not-send="true"
                src="./static/errorUser.jpg"
                title="Msg Usuario NO encontrado" alt="Usuario NO
                encontrado" width="810" height="442"><br>
                                
              <br>
              <br>
              <p align="center"><a href="/">  <input id="btnE1" name="btnE1" type="button"  value="Ir a Login" ></a></p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
   
  
  </body>
</html>
