<!doctype html>
<html lang="es">
  <head>
    <title>Bienvenido PetHotel</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">
   
  </a>
  <a class="navbar-brand" href="#"><img src="PetHotel.png" width="200" height="80" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="Clientes">
          <a class="dropdown-item" href="showSignUp"target="myIFrame">Nuevo cliente</a> 
          <a class="dropdown-item" href="showSignUpDC"target="myIFrame">Editar cliente</a>
          <a class="dropdown-item" href="showSignUpDelC"target="myIFrame">Dar de baja cliente</a>
                 
        </li>   
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Empleados
        </a>
      <div class="dropdown-menu" aria-labelledby="Empleados">
          <a class="dropdown-item" href="showSignUpE"target="myIFrame">Nuevo Empleado</a>
          <a class="dropdown-item" href="showSignUpDE"target="myIFrame">Editar Empleado</a>
          <a class="dropdown-item" href="showSignUpDelE"target="myIFrame">Dar de baja Empleado</a>
       </div> 
       </li> 
         
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Habitaciones
        </a>
      <div class="dropdown-menu" aria-labelledby="Habitacion">
		  <a class="dropdown-item" href="showSignUpH"target="myIFrame">Crear Habitación</a>
          <a class="dropdown-item" href="showSignUpRH" target="myIFrame">Reservar Habitación</a>
          <a class="dropdown-item" href="showSignUpRepo" target="myIFrame">Habitaciones disponibles</a>
        
       </div> 
       </li> 
         
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Proveedores
        </a>
        <div class="dropdown-menu" aria-labelledby="Facturacion">
          <a class="dropdown-item" href="showSignUpNP" target="myIFrame">Crear Proveedor</a>
          
          
       </div> 
       </li>  
         
         
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Facturación
        </a>
        <div class="dropdown-menu" aria-labelledby="Facturacion">
          <a class="dropdown-item" href="showSignUpFac" target="myIFrame">Facturar Estadia</a>
          <a class="dropdown-item" href="https://www.paypal.com" >Pagos por PayPal</a>
          
       </div> 
       </li>  
         
            
    </ul>
     
  </div>
</nav>

 <iframe src="./static/centro.html" name="myIFrame" scrolling="auto" width="1920" height="850" style="border:none;overflow:hidden; z-index:999999;"></iframe> 
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<footer>
	<p align="center"> (c) 2023 </p>
</footer>
  </body>

</html>





