<!doctype html>
<html lang="es">
  <head>
	  <title>Nuevo Proveedor </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
    
    
    <style type="text/css">
    #div1 {
	position: absolute;
	width: 1000px;
	height: 1000px;
	z-index: 1;
	left: 200px;
	top: 80px;
}

div {
#  padding: 7px
}

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 1000px;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}



    </style>
    
<center>

  <h1>Formulario Nuevo Proveedor</h1> 
	 <p>PetHotel</p>  <br>
	 	 </center>

    <!-- Optional JavaScript validarInsertarSocio.php-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
<script>
  $(function() {

    $('#btnSignUpNP').click(function() {

        $.ajax({

            url: '/signUpNP',

            data: $('form').serialize(),

            type: 'POST',

            success: function(response) {

                $("#modal-exito").modal('show');

            },

            error: function(error) {

                $("#modal-error").modal('show'); 

            }

        });

    });

});

  
</script>



 </head>
<body >
	  
     
      
	 
	   <form name="datosProv" id="datosProv" action="" method="post" validate>
	  <div class="form-row">
	
<div class="form-group col-md-6">
     <b> <label for="inputEmail4">Nit:</label> </b> 
      <input type="text" class="form-control" id="txtNit" name="txtNit" maxlength="10" required >  <small>Ingrese NIT.</small>
     </div> 

     	  
    
    	 
	<div class="form-group col-md-6">
      <b><label for="inputEmail4">Nombres y Apellidos:</label></b>
      <input type="text" class="form-control" id="txtNombres" name="txtNombres" required> <small>Ingrese Nombres completos.</small>
     </div> 
	 
    <div class="form-group col-md-6">
      <b><label for="inputEmail4">Empresa:</label></b>
      <input type="text" class="form-control" id="txtEmp" name="txtEmp" maxlength="10"required><small>Ingrese Nom.Empresa.</small>
     </div> 
    
    <div class="form-group col-md-6">
      <b><label for="inputEmail4">Telefono/movil:</label></b>
      <input type="text" class="form-control" id="txtTelefono" name="txtTelefono" maxlength="10"required><small>Telefono/Celular.</small>
     </div> 
    
    <div class="form-group col-md-6">
      <b><label for="inputEmail4">Dirección :</label></b>
      <input type="text" class="form-control" id="txtDireccion" name="txtDireccion" required><small>Ingrese Direccion </small>
     </div> 
	
    <div class="form-group col-md-6">
      <b><label for="inputEmail4">Email:</label></b>
      <input type="email" class="form-control" id="txtCorreo" name="txtCorreo" required><small>Ingrese Correo.</small>
     </div> 
     
	 <div class="form-group col-md-6">
      <b><label for="inputEmail4">Tipo Producto:</label></b>
      <input type="text" class="form-control" id="txtTipoP" name="txtTipoP" required><small>Ingrese Tipo Producto.</small>
     </div> 
	
		 
	 <div class="form-group col-md-6">
      <b><label for="inputEmail4">Status:</label></b>
      <input type="text" class="form-control" id="txtStatus" name="txtStatus" maxlength="100"required><small>Ingrese Status.</small>
     </div> 
	 
	 
	 </div>
	
	 
	 </div>	 
	
<br><br>
        <button id="btnSignUpNP" id="btnSignUpNP" type="button" class="btn btn-primary">Grabar Prov.</button>

      

<button type="reset" class="btn btn-secondary" title="Limpiar formulario">Limpiar Form.</button>

</form>
<!-- Modal -->
<div class="modal fade" id="modal-exito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Datos Ingresados Correctamente </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-error" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Ocurrio un Error Comuniquese con el Admin del sistema </pp>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>
</body>
</html>
