<!doctype html>
<html lang="es">
  <head>
	  <title>Update Empleado </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

   
   
    <style type="text/css">
    #div1 {
	position: absolute;
	width: 1000px;
	height: 1000px;
	z-index: 1;
	left: 200px;
	top: 80px;
}

div {
#  padding: 7px
}

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 1000px;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}



    </style>
    
<center>

  <h1>Formulario Actualizar Empleado</h1> 
	 <p>PetHotel</p>  <br>
	 	 </center>

    <!-- Optional JavaScript validarInsertarSocio.php-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    
 
<script>
  $(function() {

    $('#btnSignUpE').click(function() {

        $.ajax({

            url: '/signUpdatE',

            data: $('form').serialize(),

            type: 'POST',

            success: function(response) {

                 $("#modal-exito").modal('show');

            },

            error: function(error) {

               $("#modal-error").modal('show'); 

            }

        });

    });

});

  
</script>



 </head>
<body >
	  
     
      
	 
	   <form name="datosEmp" id="datosEmp" action="" method="post">
	  <div class="form-row">
	
<div class="form-group col-md-6">
     <b> <label for="inputEmail4">Carnet:</label> </b> 
      <input type="text" class="form-control" id="txtCarnet" name="txtCarnet" maxlength="10" required >  <small>Ingrese numero de carnet.</small>
     </div> 

     	  
    
    	 
	<div class="form-group col-md-6">
      <b><label for="inputEmail4">Nombres y Apellidos:</label></b>
      <input type="text" class="form-control" id="txtNombres" name="txtNombres" required> <small>Ingrese Nombres completos.</small>
     </div> 
	 
    <div class="form-group col-md-6">
      <b><label for="inputEmail4">Telefono/movil:</label></b>
      <input type="text" class="form-control" id="txtTelefono" name="txtTelefono" maxlength="10"required><small>Telefono/Celular.</small>
     </div> 
    
    <div class="form-group col-md-6">
      <b><label for="inputEmail4">Dirección :</label></b>
      <input type="text" class="form-control" id="txtDireccion" name="txtDireccion" required><small>Ingrese Direccion </small>
     </div> 
	
    <div class="form-group col-md-6">
      <b><label for="inputEmail4">Cargo:</label></b>
      <input type="text" class="form-control" id="txtCargo" name="txtCargo" required><small>Ingrese Cargo.</small>
     </div> 
     
	 <div class="form-group col-md-6">
      <b><label for="inputEmail4">Salario:</label></b>
      <input type="text" class="form-control" id="txtSalario" name="txtSalario" required><small>Ingrese Salario.</small>
     </div> 
	
	
	<div class="form-group col-md-6">
      <b><label for="inputEmail4">Profesion:</label></b>
      <input type="text" class="form-control" id="txtProfesion" name="txtProfesion" maxlength="100"required><small>Ingrese Profesión.</small>
     </div> 
	
	 <div class="form-group col-md-6">
      <b><label for="inputEmail4">Fecha de Inicio:</label></b>
      <input type="date" class="form-control" id="txtFecha" name="txtFecha" required><small>Fecha de Inicio.</small>
     </div> 
	<div class="form-group col-md-6">
      <b><label for="inputEmail4">Area de Trabajo:</label></b>
      <input type="text" class="form-control" id="txtArea" name="txtArea" maxlength="100"required><small>Ingrese Area de Trabajo.</small>
     </div> 
     <div class="form-group col-md-6">
     <b><label for="inputEmail4">Jornada:</label></b>
	 <select id="selJornada" name="selJornada"class="form-control" >
        <option selected> </option>
        <option value="M">Matutina</option>
        <option value="M">Vespertina</option>
       
       </select>
	    </div> 
	 <div class="form-group col-md-6">
      <b><label for="inputEmail4">Usuario:</label></b>
      <input type="text" class="form-control" id="txtUser" name="txtUser" maxlength="100"required><small>Ingrese Usuario.</small>
     </div> 
	 
	 <div class="form-group col-md-6">
      <b><label for="inputEmail4">Password:</label></b>
      <input type="password" class="form-control" id="txtClave" name="txtClave" maxlength="100"required><small>Ingrese Clave.</small>
     </div> 
	 
	 <div class="form-group col-md-6">
      <b><label for="inputEmail4">Status:</label></b>
      <input type="text" class="form-control" id="txtStatus" name="txtStatus" maxlength="100"required><small>Ingrese Status.</small>
     </div> 
	 
	 
	 </div>
	
	 
	 </div>	 
	
<br><br>
        <button id="btnSignUpE" id="btnSignUpE" type="button" class="btn btn-primary">Actualizar Empl.</button>

      

<button type="reset" class="btn btn-secondary" title="Limpiar formulario">Limpiar Form.</button>

</form>
<!-- Modal -->
<div class="modal fade" id="modal-exito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <p>Datos Actualizados Correctamente </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-error" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Ocurrio un Error Comuniquese con el Admin del sistema </pp>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>
</body>
</html>
